name: "CI"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          cache: "yarn"
      - name: Install dependencies
        run: yarn
      - name: Lint
        run: yarn lint:check
      - name: Run TypeScript compiler
        run: yarn tsc:check
      - name: Install browsers for Playwright
        run: yarn playwright install chromium --with-deps
      - name: Run tests
        run: yarn test:e2e:ci
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test-results
          path: test-results
          retention-days: 7
